body {
      margin: 0;
      font-family: 'Quicksand', sans-serif;
      background: #ffe6f0;
      text-align: center;
      color: #5a2a42;
      padding-bottom: 120px;
}

h1 {
      color: #d63384;
      margin-top: 30px;
}

button {
      display: block;
      width: 80%;
      margin: 15px auto;
      padding: 14px;
      font-size: 16px;
      border: none;
      border-radius: 20px;
      background: #ff85b3;
      color: white;
      cursor: pointer;
}

button:hover {
      background: #ff5fa2;
}

#player {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #ffd1e6;
      padding: 10px;
}

.back {
      background: #ff4f93;
}

a {
    text-decoration: none;
}

